<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bare - Start Bootstrap Template</title>
        <script type="text/javascript" src="/eel.js"></script>
        <script src="js/vue.js"></script>
        <!-- Bootstrap CSS from CDN -->
        <link href="css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
        <script src="js/popper.min.js"   crossorigin="anonymous"></script>        
        <script src="js/bootstrap.min.js"   crossorigin="anonymous"></script>
    </head>
    <body>
         <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <div id="app" class="container-fluid">
                    <h1>My App</h1>

                    <form>
                        <label>Name:</label>
                        <input v-model="name">
                        <label>Email:</label>
                        <input v-model="email">
                        <button class="btn btn-primary" type="button" @click="addUser">Add User</button>
                    </form>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="user in users">
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
 
    </body>
    <script>
        new Vue({
            el: '#app',
            data: {
                name: '',
                email: '',
                users: []
            },
            mounted() {
                this.getUsers();
            },
            methods: {
                addUser() {
                    eel.add_user(this.name, this.email)((result) => {
                        alert(result);
                        this.getUsers();
                        this.name = '';
                        this.email = '';
                    });
                },
                getUsers() {
                    eel.get_users()((result) => {
                        this.users = result;
                        console.log(this.users)
                    });
                }
            }
        });
    </script>
</html>
